.character__profile {
  border: 3px solid black;
  width: 30%;
  margin: 50px auto;
  background: white;
  opacity: 0.6;
  padding: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.character__profile:hover {
  background: lightgrey;
  opacity: 1;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
